/*
Estilos da pagina index.html
*/
.center {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#menu li {
    display: inline;
    padding: 20px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color: grey;
}

.p-30{
    padding: 30px;
}

.br-8 {
    border-radius: 8%;
    
}
.mw-600 {
    max-width: 600px;
}

.tm-social {
    width: 30px;
    height: 30px;
    
}
.p-10 {
    padding: 10px;
}

.mb-50 {
    margin-bottom: 50px;
}

.container-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

/*
Estilos da pagina dicas.html
*/

.ml-50{
    margin-left: 50px;
}

.mt-50 {
    padding-top: 50px;
}

/*Geral*/
p{
    font-size: 20px;
}
h2{
    font-size: 28px;
    font-family: 'Comfortaa', cursive;
    
}
h1 {
    font-family: 'Philosopher', sans-serif;
    color: #086ab4;  
}  
body{
    background-color: #dfe6e9;
}